body {
    background-color: #f9f9f9;

    .main-grid .search-wrapper {
        padding: 50px 0 40px 0 !important;
        // background-color: #5B48D9;
        // background-color: #000;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0.42620798319327735) 0%, rgba(0,0,0,0.8855917366946778) 42%, rgba(0,0,0,0.6446953781512605) 100%);
        position: relative;

        .column {
            z-index: 2;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            background: url('../images/whirl.jpg');
            background-size: cover;
            background-position: center center;
            opacity: 0.8;
            z-index: 1;
        }
    }
}